<section class="section section--boxes" style="background-image: url(${require('/assets/images/boxes.svg')});">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="section__title section__title--small section__title--align-center">
                        Different boxes!
                    </div>
                    <div class="section__description section__description--regular section__description--align-center">
                        Explore our boxes features and start using BagsAway!
                    </div>
                    <div class="section__button section__button--align-center">
                        <a class="base-button base-button--shine base-button--medium base-button--filled" href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>