<div class="section section--no-paddings">
    <div class="section__inner">
        <div class="half-block-image">
            <div class="row align-items-center">
                <div class="col-5 ml-auto">
                    <div class="half-block-image__text">
                        <div class="section__title section__title--small section__title--dark">
                            The Story Of Mobile <div class="d-none d-lg-block"></div>
                            Luggage Storage
                        </div>
                        <div class="section__description section__description--dark section__description--regular">
                            We have all, at one time or another, spent half a day travelling from the airport to
                            our hotel only to transport and store our luggage. We too, have lugged our luggage
                            across cobblestone, busy public transit and sidewalks.
                            <br/>
                            <br/>
                            But we have a solution…
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="half-block-image__image" style="background-image: url(${require('/assets/images/plane_and_bag.svg')})"></div>
                </div>
            </div>
        </div>
        <div class="half-block-image">
            <div class="row align-items-center">
                <div class="col-5 ml-auto">
                    <div class="half-block-image__text">
                        <div class="section__title section__title--small section__title--dark">
                            Same-day Luggage
                            <div class="d-none d-lg-block"></div>
                            Pick-up Delivery
                        </div>
                        <div class="section__description section__description--dark section__description--regular">
                            Discover BagsAway, a Toronto based Mobile luggage storage company! We'll pick-up
                            your luggage anywhere in Toronto's downtown core, securely store your luggage and drop
                            off your luggage at any convinient location in Toronto.
                            <br/>
                            <br/>
                            We service Toronto’s Pearson Airport, Toronto’s Billy Bishop Airport,
                            Greater Toronto Area hotels, offices and residences.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="half-block-image__image" style="background-image: url(${require('/assets/images/moving-van.svg')})"></div>
                </div>
            </div>
        </div>
        <div class="half-block-image">
            <div class="row align-items-center">
                <div class="col-5 ml-auto">
                    <div class="half-block-image__text">
                        <div class="section__title section__title--small section__title--dark">
                            Safe, Secure,
                            <div class="d-none d-lg-block"></div>
                            Convenient Luggage Storage
                        </div>
                        <div class="section__description section__description--dark section__description--regular">
                            Discover BagsAway, a Toronto based Mobile luggage storage company!
                            We'll pick-up your luggage anywhere in Toronto's downtown core, securely
                            store your luggage and drop off your luggage at any convinient location in Toronto.
                            <br/>
                            <br/>
                            We service Toronto’s Pearson Airport, Toronto’s Billy Bishop Airport,
                            Greater Toronto Area hotels, offices and residences.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="half-block-image__image" style="background-image: url(${require('/assets/images/secure.svg')})"></div>
                </div>
            </div>
        </div>
        <div class="half-block-image">
            <div class="row align-items-center">
                <div class="col-5 ml-auto">
                    <div class="half-block-image__text">
                        <div class="section__title section__title--small section__title--dark">
                            Overnight Luggage
                            <div class="d-none d-lg-block"></div>
                            Storage
                        </div>
                        <div class="section__description section__description--dark section__description--regular">
                            Our same day mobile luggage storage service is something unique to the world
                            and is also the perfect one in terms of customer service.
                            <br/>
                            <br/>
                            Our system automatically tracks your flight status and any delays
                            will automatically be integrated into your pick-up time. A member of our team will be
                            expecting your arrival at the airport and will have a sign with your name on it, at the
                            exit of the airport baggage pick-up.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="half-block-image__image" style="background-image: url(${require('/assets/images/night_in_the_city.png')})"></div>
                </div>
            </div>
        </div>
    </div>
</div>