<section class="section" style="background-color: #00a1df">
    <div class="section__inner">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 mb-5">
                    <div class="section__title section__title--small section__title--align-center">
                        How it works?
                    </div>
                </div>
                <div class="col-xl-8 col-lg-9 col-md-12 text-center">
                    <div class="step-block step-block--first">
                        <div class="step-block__name">
                            Step 1.<br/>
                            We'll pick your<br/>luggage!
                        </div>
                        <div class="step-block__image">
                            <div class="step-block__image-inner" style="background-image: url(${require('/assets/images/suitcase.svg')})"></div>
                        </div>
                    </div>
                    <div class="step-block step-block--second">
                        <div class="step-block__name">
                            Step 2.<br/>
                            Enjoy your day<br/>in Toronto
                        </div>
                        <div class="step-block__image">
                            <div class="step-block__image-inner" style="background-image: url(${require('/assets/images/bridge.svg')})"></div>
                        </div>
                    </div>
                    <div class="step-block step-block--third">
                        <div class="step-block__name">
                            Step 3.<br/>
                            Get your luggage<br/>anywhere!
                        </div>
                        <div class="step-block__image">
                            <div class="step-block__image-inner" style="background-image: url(${require('/assets/images/delivery-truck.svg')})"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="section__button section__button--align-center">
                        <a class="base-button base-button--shadow base-button--medium base-button--filled" href="#">BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>