<section class="section section--main">
    <div style="position: absolute; bottom: -5px; width: 50%; max-height: 100%; left: 50%; transform: translateX(-50%)">
        <img src="${require('/assets/images/city.png')}" style="max-width: 100%" alt="">
    </div>
    <div class="section__inner">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 p-5">
                    <div class="section__title section__title--dark section__title--align-center">
                        BagsAway is Toronto’s <div class="d-none d-lg-block"></div>
                        first mobile luggage storage!
                    </div>
                    <div class="section__description section__description--dark section__description--align-center">
                        We pick up your luggage, securely store it, and deliver it to you in<div class="d-none d-lg-block"></div>
                        a friendly, convenient, reliable service!
                    </div>
                    <div class="section__button section__button--align-center">
                        <a href="#" class="base-button base-button--shadow base-button--medium base-button--filled base-button--shadow">STORE NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>