<section class="section">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__title section__title--dark section__title--small section__title--align-center">
                        Pricing
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</section>