<section class="section" style="background-color: #5abb32">
    <div class="section__inner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-3 text-center">
                    <img src="${require('/assets/images/camera.png')}" alt="" style="max-width: 163px;transform: scale(-1, 1)">
                </div>
                <div class="col-6">
                    <div class="section__title section__title--align-center section__title--small">
                        Safe Storage For Everything!
                    </div>
                    <div class="mt-5 section__button section__button--align-center">
                        <a class="base-button base-button--medium base-button--filled" href="#">LEARN MORE</a>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img src="${require('/assets/images/camera.png')}" alt="" style="max-width: 163px">
                </div>
            </div>
        </div>
    </div>
</section>