<section class="section" style="background-color: #129bd7">
    <div style="position: absolute; bottom: -3px; width: 80%; max-height: 100%; left: 50%; transform: translateX(-50%); min-width: 1170px; opacity: 0.3;">
        <img src="${require('/assets/images/city_transparent.png')}" style="max-width: 100%" alt="">
    </div>
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--small section__title--align-center">
                Testimonials
            </div>
            <div class="section__description section__description--regular section__description--align-center">
                This customers trusted us. Check their oppinion about our service.
            </div>
            <div class="testimonials">
                <div class="testimonials__container">
                    <div class="row">
                        <div class="col-lg-4 mt-5 mt-lg-0">
                            <div class="testimonials__item">
                                <div class="testimonials__item-photo"
                                     style="background-image: url(${require('/assets/images/testimonials/avatar1.jpg')})"></div>
                                <div class="testimonials__item-name">
                                    Bruce Wayne
                                </div>
                                <div class="testimonials__item-date">
                                    Aug 27, 2017
                                </div>
                                <div class="testimonials__divider"></div>
                                <div class="testimonials__item-quote">
                                    A hero can be anyone. Even a man doing something as simple and reassuring as putting
                                    a
                                    coat around a little boy’s shoulders to let him know that the world hadn’t ended.
                                </div>
                                <div class="testimonials__item-rate">
                                    <i class="fa fa-star" aria-hidden="true"></i> 5.0
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-5 mt-lg-0">
                            <div class="testimonials__item">
                                <div class="testimonials__item-photo"
                                     style="background-image: url(${require('/assets/images/testimonials/joker.jpg')})"></div>
                                <div class="testimonials__item-name">
                                    Joker
                                </div>
                                <div class="testimonials__item-date">
                                    Aug 27, 2017
                                </div>
                                <div class="testimonials__divider"></div>
                                <div class="testimonials__item-quote">
                                    You left out why so serious. You need to be shot in the head with a missile out of
                                    the
                                    gene pool. Hire me instead of whatever retard wrote this. I will work for peanuts
                                    for a
                                    better job than this darwin award writer piece of shit.
                                </div>
                                <div class="testimonials__item-rate">
                                    <i class="fa fa-star" aria-hidden="true"></i> 5.0
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-5 mt-lg-0">
                            <div class="testimonials__item">
                                <div class="testimonials__item-photo"
                                     style="background-image: url(${require('/assets/images/testimonials/gordon.jpg')})"></div>
                                <div class="testimonials__item-name">
                                    James Gordon
                                </div>
                                <div class="testimonials__item-date">
                                    Aug 27, 2017
                                </div>
                                <div class="testimonials__divider"></div>
                                <div class="testimonials__item-quote">
                                    Always seems cold down here, no matter the time of year. And it's the one place in
                                    Gotham I can't help you. You'll be entirely on your own.
                                </div>
                                <div class="testimonials__item-rate">
                                    <i class="fa fa-star" aria-hidden="true"></i> 5.0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>