<section class="section" style="background-color: #2c2272; background-size: contain; background-position: left 7% center; background-repeat: no-repeat; background-image: url(${require('/assets/images/clock.svg')});">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 ml-lg-auto">
                    <div class="section__title section__title--small">
                        On-time Service!
                    </div>
                    <div class="section__description section__description--regular">
                        We pick up your luggage, securely store it, and deliver it to you
                        in a friendly, convenient, reliable service!
                    </div>
                    <div class="section__button">
                        <a class="base-button base-button--shine base-button--medium base-button--filled" href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>