.price-block

  &__image
    width: 100%
    position: relative
    padding-top: 100%

  &__image-inner
    vertical-align: middle
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 100%
    width: 100%
    border: 7px solid #6cc04a
    text-align: center
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center

  &__image-icon

  &__title
    font-size: 18px
    text-align: left
    color: #516065
    margin-top: 25px

  &__image-description
    font-size: 13px
    color: #516065
    margin-top: 8px

  &__list

  &__button
