{% extends "layouts/layout.njk" %}

{% block content %}

    {% include 'pages/sections/_testimonials-section.njk' %}
    {% include 'pages/sections/_faq-section.njk' %}
    {% include 'pages/sections/_form-section.njk' %}

{% endblock %}