{% extends "layouts/layout.njk" %}

{% block content %}

    {% include 'pages/sections/_main-section.njk' %}
    {% include 'pages/sections/_how-it-works.njk' %}
    {% include 'pages/sections/_safe-storage.njk' %}
    {% include 'pages/sections/_pricing-section.njk' %}
    {% include 'pages/sections/_testimonials-section.njk' %}
    {% include 'pages/sections/_faq-section.njk' %}
    {% include 'pages/sections/_form-section.njk' %}

{% endblock %}